/* Style settings go here */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  .product {
    color: aqua;
  }
.home {
  background-color: blue;
}

.env {
  width: 50px;
  height:auto
}
.erow {
  display: flex;
  justify-content: space-around;

}
  
/* Responsiveness settings go here: */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Extra super small devices (phones, 400px and down) */
@media only screen and (max-width: 420px) {

    
  }
  
  /* ------------------------------------------------------------------------------------------------------------------------------------------- */
  /* Extra small devices (phones, 600px to 401px) */
  @media only screen and (min-width: 421px) and (max-width: 600px) {

  }
  
  /* ------------------------------------------------------------------------------------------------------------------------------------------- */
  /* Small devices (portrait tablets and large phones, 600px to 768px) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {

  }
  
  /* ------------------------------------------------------------------------------------------------------------------------------------------- */
  /* Medium devices (landscape tablets, 768px to 992px) */
  @media only screen and (min-width: 769px) and (max-width: 992px) {

  }
  
  /* ------------------------------------------------------------------------------------------------------------------------------------------- */
  /* Large devices (laptops/desktops, 992px to 1200px) */
  @media only screen and (min-width: 993px) and (max-width: 1200px) {
  
  }
  
  /* ------------------------------------------------------------------------------------------------------------------------------------------- */
  /* Extra large devices (large desktops, 1200px and up) */
  @media only screen and (min-width: 1201px) {

  }
  
  