/* General style settings go here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.s3 {
  padding-top: 4px;
  width: 1440px;
  height: 296px;
  background-color: rgb(231, 221, 229);
}
.ps3 {
  margin: 40px auto;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}

.env {
  width: 138px;
  height: 110px;
}
.erow {
  display: flex;
  justify-content: space-around;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
}

.section5 {
  height: 600px;
  width: 100%;
}
#cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 40px 40px 40px;
  width: 100%;
  height: 400px;
}
.card1 {
  width: 250px;
  height: 200px;
  align-content: center;
  margin: auto;
}
.card1 p {
  width: 100%;
  height: 50px;
  padding: 5px;
  justify-self: center;
}

img {
  margin: 20px 20px 20px 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  justify-self: center;
}
.price img {
  border-radius: 0;
  display: block;
  margin: 40px 40px 130px 50px;
  width: 100px;
  height: 100px;
  justify-self: center;
}

.section7 {
  height: 600px;
  width: 100%;
}
#prices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 40px 40px 40px;
  width: 100%;
  height: 400px;
}
.price {
  width: 250px;
  height: 350px;
  align-content: center;
  margin: auto;
}
.price p {
  width: 100%;
  height: 50px;
  padding: 5px;
  justify-self: center;
}

/* Responsiveness settings go here: */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Extra super small devices (phones, 400px and down) */
@media only screen and (max-width: 420px) {
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Extra small devices (phones, 600px to 401px) */
@media only screen and (min-width: 421px) and (max-width: 600px) {
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
}
