/* General style settings go here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

main {
  justify-items: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
  font-weight: normal;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

p {
  font-size: 1.1rem;
}

/* Section 2 styling */
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 582px;
  width: 100%;
  background-color: #c4c4c4;
}

.hero {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 513px;
  height: 458px;
  background-color: #ededed;
}

.n1Editor {
  width: 355px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.hero div {
  width: 378px;
  height: 205px;
  padding-left: 10px;
}

.description {
  padding-top: 20px;
}

.hero button {
  width: 195px;
  height: 51px;
  background-color: #ffffff;
  border-style: none;
  margin-bottom: 20px;
}

.demo {
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 458px;
  width: 286px;
  border-radius: 50px;
  background-color: #ededed;
  padding: 22px;
}

.demo h2 {
  margin-bottom: 22px;
}

.demo div {
  margin-bottom: 22px;
}

.demo button {
  width: 195px;
  height: 51px;
  background-color: #ffffff;
  border-style: none;
}

/* Section 4 styling */
.section4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 563px;
  width: 100%;
  background-color: #ababab;
}

.video {
  height: 340px;
  width: 715.62px;
  background-color: #ededed;
}

/* Responsiveness settings go here: */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Extra super small devices (phones, 400px and down) */
@media only screen and (max-width: 420px) {
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #c4c4c4;
  }

  .hero {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 458px;
    background-color: #ededed;
    padding: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .video {
    width: 100%;
    background-color: #ededed;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Extra small devices (phones, 600px to 401px) */
@media only screen and (min-width: 421px) and (max-width: 600px) {
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #c4c4c4;
  }

  .hero {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 458px;
    background-color: #ededed;
    padding: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .demo {
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 458px;
    width: 286px;
    border-radius: 50px;
    background-color: #ededed;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 22px;
  }

  .video {
    width: 100%;
    background-color: #ededed;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #c4c4c4;
  }

  .hero {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 513px;
    height: 458px;
    background-color: #ededed;
    padding: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .demo {
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 458px;
    width: 286px;
    border-radius: 50px;
    background-color: #ededed;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 22px;
  }

  .video {
    width: 100%;
    background-color: #ededed;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #c4c4c4;
  }

  .hero {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 513px;
    height: 458px;
    background-color: #ededed;
    padding: 22px;
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .demo {
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 458px;
    width: 286px;
    border-radius: 50px;
    background-color: #ededed;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 22px;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 582px;
    width: 100%;
    background-color: #c4c4c4;
  }

  .hero {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 513px;
    height: 458px;
    background-color: #ededed;
    padding: 22px;
    margin-right: 65px;
    margin-bottom: 20px;
  }

  .n1Editor {
    width: 355px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }

  .hero div {
    width: 378px;
    height: 205px;
    padding-left: 10px;
  }

  .description {
    padding-top: 20px;
  }

  .hero button {
    width: 195px;
    height: 51px;
    background-color: #ffffff;
    border-style: none;
    margin-bottom: 20px;
  }

  .demo {
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 458px;
    width: 286px;
    border-radius: 50px;
    background-color: #ededed;
    margin-left: 65px;
    margin-bottom: 20px;
    padding: 22px;
  }

  .demo h2 {
    margin-bottom: 22px;
  }

  .demo div {
    margin-bottom: 22px;
  }

  .demo button {
    width: 195px;
    height: 51px;
    background-color: #ffffff;
    border-style: none;
  }

  /* Section 4 styling */
  .section4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 563px;
    width: 100%;
    background-color: #ababab;
  }

  .video {
    height: 340px;
    width: 715.62px;
    background-color: #ededed;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
  .section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 582px;
    width: 100%;
    background-color: #c4c4c4;
  }

  .hero {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 513px;
    height: 458px;
    background-color: #ededed;
    padding: 22px;
    margin-right: 65px;
    margin-bottom: 20px;
  }

  .n1Editor {
    width: 355px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }

  .hero div {
    width: 378px;
    height: 205px;
    padding-left: 10px;
  }

  .description {
    padding-top: 20px;
  }

  .hero button {
    width: 195px;
    height: 51px;
    background-color: #ffffff;
    border-style: none;
    margin-bottom: 20px;
  }

  .demo {
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 458px;
    width: 286px;
    border-radius: 50px;
    background-color: #ededed;
    margin-left: 65px;
    margin-bottom: 20px;
    padding: 22px;
  }

  .demo h2 {
    margin-bottom: 22px;
  }

  .demo div {
    margin-bottom: 22px;
  }

  .demo button {
    width: 195px;
    height: 51px;
    background-color: #ffffff;
    border-style: none;
  }

  /* Section 4 styling */
  .section4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 563px;
    width: 100%;
    background-color: #ababab;
  }

  .video {
    height: 340px;
    width: 715.62px;
    background-color: #ededed;
  }
}
